body, html {
    margin: 0;
    padding: 0;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
}
nav ul li{
    float: left;
    list-style-type: none;
    padding: 5px;
    padding: 20px;
    font-family: sans-serif;
    display: inline;
}
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
    width: 350px;
}
nav ul li img {
    border: 0;
}
nav ul li:hover {
    background-color: rgb(207, 207, 207);
}
.main {
    margin: auto;
    font-family: sans-serif;
    width: 300px;
}
.info {
    margin: 30px;
    margin-top: 20px;
}
.screenshot {
    border-radius: 15px;
    box-shadow: 1px 2px 5px;
}
button {
    background-color: rgb(0, 85, 255);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 0px;
}
.html {
    text-align: center;
    background-color: orangered;
    box-shadow: 1px 2px 5px;
    width: 25%;
    padding: 10px;
    border-radius: 15px;
    color: white;
    float: left;
}
.css {
    text-align: center;
    background-color: rgb(0, 51, 255);
    box-shadow: 1px 2px 5px;
    width: 25%;
    padding: 10px;
    border-radius: 15px;
    color: white;
    float: left;
}
.js {
    text-align: center;
    background-color: rgb(255, 179, 0);
    box-shadow: 1px 2px 5px;
    width: 25%;
    padding: 10px;
    border-radius: 15px;
    color: white;
    float: left;
}
